
#jenny_nariz{
    animation: oler 2s infinite;
    /* animation-delay: 5s; */
    transform: scale(1, 1);
    transform-origin:center;

}

@keyframes oler{

    5%{
        transform:translatey(0px);
    }

	5%{
	transform:translatey(-10px);
	}
	
	15%{
	transform:translatey(10px);	
	}
    
    25%{
        transform:translatey(-5px);
    }
    
    35%{
        transform:translatey(5px);	
    }

    45%{
        transform:translatey(-5px);
        
    }
    
    55%{
        transform:translatey(5px);	
    }

    100%{
        transform:translatey(0px);	
    }
}
